<!DOCTYPE html>
<html>
  <head>
    <title>Word Puzzle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Word Puzzle</h1>

      #parse( $template )

    </div>

  </body>
</html>
